body{
display: flex;
justify-content: space-between;
align-items: center;
background-color: #256D85;
padding: 0%;
margin: 0%;
}

.top-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    background-color: #8FE3CF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
}

.gridRow{
    display: flex;
    width: 100%;
    height: 100%;
}

.grid{
border: black solid;
border-width: 1px;
width: 100%;
height: 100%;

}

.sidebar{
    background-color: #264653;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    height: 100%;
    padding: 2%;
    margin-left;: 8px
}

.sizebutton{
    width: auto;
    
}